node_modules/
**/out/
**/dist/
**/build/
.cache/
yarn.lock
dist/
.checksums
.gitkeep
.env
**/*.png
**/*.ico
.yarn
package-lock.json
.next/
next.config.js
postcss.config.js
tailwind.config.js
.eslint.json
